


<h1>Details of Time Required To Do All Yoga</h1><br>

<p>
  <strong>Total Minutes To Do:</strong>
 Take out of your <%= (@TotalTime) %>  Minutes that is  <%= (@TotalTime)*60 %> seconds everyday to practice yoga
</p>