<h1>Details of Yoga</h1><br>

<p>
  <strong>Minutes To Do:</strong>
  <%= @Time %>
</p>


<p>
  <strong>Method:</strong>
  <%= @Method %>
</p>


<p>
  <strong>Benefits:</strong>
  <%=  @Benefit %>
</p>

<p>
  <strong>Number Of Rounds:</strong>
  <%= @Rounds %>
</p>

