<h1>Details of Immunizations for Informantion</h1><br>

<p>
  <strong>Name of your baby:</strong>
  <%=@name %>
</p>


<p>
  <strong>Weight:</strong>
  <%= @weight  %>
</p>


<p>
  <strong>Age:</strong>
  <%=  @age %>
</p>

<p>
  <strong>Your baby is to be immunized:</strong>
  <%=  @output %>
</p>
